<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <div class="navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand">Parkingomat</a>
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </nav> <!-- /navbar -->

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <parking-detail [parking]="parking" *ngFor="let parking of parkings">
        </parking-detail>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Paweł Janik 2016. Zobacz jak to jest zrobione na <a href="https://github.com/pawelnr1/PWr-Parking-lots">GitHubie</a></span>.
        </div>
    </footer>

</div>