<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <div class="navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand">
                <img src="../../assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Parkingomat -
            <small>
                Zobacz wolne miejsca na parkingach PWr
            </small>
            </a>
        </div>
    </nav> <!-- /navbar -->

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="card-columns">
            <parking-detail [parking]="parking" *ngFor="let parking of parkings">
            </parking-detail>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">Paweł Janik 2016. Zobacz jak to jest zrobione na <a href="https://github.com/pawelnr1/PWr-Parking-lots">GitHubie</a></span>.
        </div>
    </footer>

</div>