@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/* You can add global styles to this file, and also import other style files */
.main {
  width: 800px;
  padding: 20px;
}

.comment {
  border: 2px dashed #ccc;
  margin: 0px 10px;
  padding: 10px;
}

.field.error > * {
  background: lightcoral;
}
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.fill {
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100px;
}

.card-title{
    color: #eeeeee;
    padding-top: 40px;
}
h1{
    font-size: 18pt;
    display: inline;
    font-weight: normal;
}

h2{
    font-size: 13pt;
    display: inline;
    font-weight: normal;
}